# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/editor.xml
/misc.xml
/modules.xml
/OpenCodeScan.iml
/QtSettings.xml
/vcs.xml
